:global(body) {
  background-color: seashell;
}

.header {
  text-align: center;
}

.board {
  border-collapse: collapse;
  margin: 2em auto;
}

.belowBoard {
  text-align: center;
  display: grid;
}

.belowBoard input {
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  width: 51em;
  max-width: 70vw;
  margin: .5em auto;
}

.buttons {
  margin: 0 auto 1.5em auto;
}

.buttons button {
  font-size: 16px;
  margin: auto .5em;
}

.buttons button[disabled] {
  color: darkgray;
}
